@{
    ViewData["Title"] = "訂單管理";
}

<button class="btn btn-primary">Create Order</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">訂單編號</th>
            <th scope="col">客戶編號</th>
            <th scope="col">員工編號</th>
            <th scope="col">訂購日期</th>
            <th scope="col">預計到達日期</th>
            <th scope="col">發貨日期</th>
            <th scope="col">運貨商</th>
            <th scope="col">運費</th>
            <th scope="col">貨主姓名</th>
            <th scope="col">貨主地址</th>
            <th scope="col">貨主所在城市</th>
            <th scope="col">貨主所在地區</th>
            <th scope="col">貨主郵編</th>
            <th scope="col">貨主所在國家</th>
            <th scope="row"><button class="btn btn-success">Edit</button></th>
            <th scope="row"><button class="btn btn-danger">Delete</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">訂單編號</th>
            <th>客戶編號</th>
            <th>員工編號</th>
            <th>訂購日期</th>
            <th>預計到達日期</th>
            <th>發貨日期</th>
            <th>運貨商</th>
            <th>運費</th>
            <th>貨主姓名</th>
            <th>貨主地址</th>
            <th>貨主所在城市</th>
            <th>貨主所在地區</th>
            <th>貨主郵編</th>
            <th>貨主所在國家</th>
            <th scope="row"><button class="btn btn-success">Edit</button></th>
            <th scope="row"><button class="btn btn-danger">Delete</button></th>
        </tr>
    </tbody>
</table>