/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

table tr th{
    white-space: nowrap;
}



.blog-pagination {
    padding-top: 10px
}

    .blog-pagination .page-link {
        border-radius: 0
    }

    .blog-pagination .page-item {
        border: none
    }

.page-link {
    background: transparent;
    font-weight: 400
}

.blog-pagination .page-item.active .page-link {
    background: transparent;
    border-color: #222;
    color: FORESTGREEN
}

.blog-pagination .page-link {
    position: relative;
    display: block;
    padding: .8rem 1.05rem;
    margin: 0 5px;
    line-height: 1.25;
    color: #222;
    background: transparent;
    border-radius: 0;
    border: 2px solid #eeeeee
}

    .blog-pagination .page-link:focus {
        outline: none;
        box-shadow: none
    }

.blog-pagination .page-item:last-child .page-link, .blog-pagination .page-item:first-child .page-link {
    padding: .8rem 1.05rem;
    border-radius: 0
}

    .blog-pagination .page-item:last-child .page-link i, .blog-pagination .page-item:last-child .page-link span, .blog-pagination .page-item:first-child .page-link i, .blog-pagination .page-item:first-child .page-link span {
        font-size: 14px;
        color: #222
    }

.blog-pagination .page-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    color: FORESTGREEN;
    border-color: #222
}
