@{
    ViewData["Title"] = "產品管理";
}

<button class="btn btn-primary">Create Product</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">產品ID</th>
            <th scope="col">產品名稱</th>
            <th scope="col">供應商ID</th>
            <th scope="col">型別ID</th>
            <th scope="col">數量</th>
            <th scope="col">單價</th>
            <th scope="col">庫存數量</th>
            <th scope="col">訂購量</th>
            <th scope="col">再次訂購量</th>
            <th scope="col">中止</th>
            <th scope="col">編輯</th>
            <th scope="col">刪除</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">產品ID</th>
            <th scope="row">產品名稱</th>
            <th scope="row">供應商ID</th>
            <th scope="row">型別ID</th>
            <th scope="row">數量</th>
            <th scope="row">單價</th>
            <th scope="row">庫存數量</th>
            <th scope="row">訂購量</th>
            <th scope="row">再次訂購量</th>
            <th scope="row">中止</th>
            <th scope="row"><button class="btn btn-success">Edit</button></th>
            <th scope="row"><button class="btn btn-danger">Delete</button></th>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>